<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/layout-main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="content">
<div class="container-fluid">
    <div class="row">
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky justify-content-center">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link ms-5" aria-current="page" th:href="@{/admin/dashboard(language=${#locale.language})}">
                        <i class="bi bi-house-door-fill"></i>
                        <span class="ml-2 h5" th:text="#{dashboardTitle}">Dashboard</span>
                    </a>
                </li>
                <hr>
                <li class="nav-item ms-5">
                        <a class="nav-link" th:href="@{/admin/users/add(language=${#locale.language})}">
                            <i class="bi bi-people-fill"></i>
                            <span class="ml-2 h5" th:text="#{dashboardNavAddUsers}">Add Users</span>
                        </a>
                    </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/users(language=${#locale.language})}">
                        <i class="bi bi-people-fill"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavUsers}">Users</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/hotels/add(language=${#locale.getLanguage()})}">
                        <i class="bi bi-building"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavAddHotels}">Add hotels</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/hotels(language=${#locale.language})}">
                        <i class="bi bi-building"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavHotels}">Hotels</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/posts/add(language=${#locale.getLanguage()})}">
                        <i class="bi bi-file-earmark-text"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavAddPosts}">Add posts</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/posts(language=${#locale.language})}">
                        <i class="bi bi-file-earmark-text"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavPosts}">Posts</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/bookings(language=${#locale.language})}">
                        <i class="bi bi-calendar-check"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavBookings}">Bookings</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/report(language=${#locale.language})}">
                        <i class="bi bi-bar-chart-line"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavReports}">Reports</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/admin/comments(language=${#locale.language})}">
                        <i class="bi bi-star-fill"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavEvaluates}">Evaluates</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4 mt-4 mb-5">
        <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center" th:text="#{dashboardAccountDetail}">User Account Details</h2>
                    </div>
                    <div th:if="${param.success}">
	                    <div class="alert alert-success">User info successfully updated</div>
	                </div>
                    <div class="card-body">
                        <form>
                            <div class="row mb-3 ms-5">
                                <div class="col-md-5 me-5" style="height: 310px; width:295px;">
                                    <img th:src="${user.img}" class="img-fluid w-100 rounded-3" style="height: 100%; width: 100%; object-fit: cover;">
                                </div>
                                <div class="col-md-7">
                                    <div class="mb-3">
                                        <label for="username" class="form-label fw-bold">Username:</label>
                                        <input class="form-control-plaintext" id="username" readonly type="text" th:value="${user.username}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label fw-bold">First Name:</label>
                                        <input class="form-control-plaintext" id="name" readonly type="text" th:value="${user.name}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="lastName" class="form-label fw-bold">Last Name:</label>
                                        <input class="form-control-plaintext" id="lastName" readonly type="text" th:value="${user.lastName}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label fw-bold">Email:</label>
                                        <input class="form-control-plaintext" id="email" readonly type="text" th:value="${user.email}">
                                    </div>
									<div class="mb-3">
                                        <label for="phone" class="form-label fw-bold">Phone:</label>
                                        <input class="form-control-plaintext" id="phone" readonly type="text" th:value="${user.phone}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label fw-bold">Birthday:</label>
                                        <input class="form-control-plaintext" id="birthday" readonly type="date" th:value="${user.birthday}">
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <a th:href="@{/admin/account/edit}" class="btn btn-primary">Edit User Info</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
	            </div>
            </div>
    </main>
    </div>
    </div>
</th:block>
</body>
</html>
