<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/layout-main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Bookings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.css">
</head>
<body>
<!-- Nội dung trang -->
<th:block layout:fragment="content">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky justify-content-center">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/admin/dashboard}">
                            <i class="bi bi-house-door-fill"></i>
                            <span class="ml-2">Dashboard</span>
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}">
                            <i class="bi bi-people-fill"></i>
                            <span class="ml-2">Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/hotels}">
                            <i class="bi bi-building"></i>
                            <span class="ml-2">Hotels</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/bookings}">
                            <i class="bi bi-calendar-check"></i>
                            <span class="ml-2">Bookings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/report}">
                            <i class="bi bi-bar-chart-line"></i>
                            <span class="ml-2">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-layers-fill"></i>
                            <span class="ml-2">Integrations</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <!-- User List Section -->
            <div class="col-md-12">
                <h2>All Bookings</h2>
                <table class="table table-striped align-middle">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Booking Date</th>
                        <th>Hotel</th>
                        <th>Customer</th>
                        <th>Total Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle" th:each="booking : ${bookings}">
                        <td th:text="${booking.id}"></td>
                        <td th:text="${booking.bookingDate}"></td>
                        <td th:text="${booking.hotelName}"></td>
                        <td th:text="${booking.customerEmail}"></td>
                        <td th:text="'$ ' + ${#numbers.formatDecimal(booking.totalPrice, 0, 'COMMA', 2, 'POINT')}"></td>
                        <td>
                            <a th:href="@{/admin/bookings/{id}(id=${booking.id})}" class="btn btn-primary btn-sm">Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</th:block>
</body>
</html>
