<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/layout-main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Edit Hotel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chartist@0.11.4/dist/chartist.min.css">
</head>
<body>
<!-- Nội dung trang -->
<th:block layout:fragment="content">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky justify-content-center">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/admin/dashboard}">
                            <i class="bi bi-house-door-fill"></i>
                            <span class="ml-2">Dashboard</span>
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/users}">
                            <i class="bi bi-people-fill"></i>
                            <span class="ml-2">Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/hotels}">
                            <i class="bi bi-building"></i>
                            <span class="ml-2">Hotels</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/bookings}">
                            <i class="bi bi-calendar-check"></i>
                            <span class="ml-2">Bookings</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/report}">
                            <i class="bi bi-bar-chart-line"></i>
                            <span class="ml-2">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-layers-fill"></i>
                            <span class="ml-2">Integrations</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
            <!-- Edit Hotel Section -->
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Edit Hotel</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/admin/hotels/edit/{id}(id=${hotel.id})}" th:object="${hotel}">
                            <div class="form-group mb-3">
                                <label class="form-label" for="name">Hotel Name:</label>
                                <input class="form-control" id="name" type="text" th:field="*{name}"
                                       placeholder="Enter hotel name">
                                <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                            <input type="hidden" th:field="*{addressDTO.id}">
                            <div class="form-group mb-3">
                                <label class="form-label" for="addressLine">Address Line:</label>
                                <input class="form-control" id="addressLine" type="text"
                                       th:field="*{addressDTO.addressLine}"
                                       placeholder="Enter address line">
                                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.addressLine')}"
                                   th:errors="*{addressDTO.addressLine}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="city">City:</label>
                                <input class="form-control" id="city" type="text" th:field="*{addressDTO.city}"
                                       placeholder="Enter city">
                                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.city')}"
                                   th:errors="*{addressDTO.city}"></p>
                            </div>
                            <div class="form-group mb-3">
                                <label class="form-label" for="country">Country:</label>
                                <input class="form-control" id="country" type="text" th:field="*{addressDTO.country}"
                                       placeholder="Enter country">
                                <p class="text-danger" th:if="${#fields.hasErrors('addressDTO.country')}"
                                   th:errors="*{addressDTO.country}"></p>
                            </div>
                            <!-- Single Room Details -->
                            <div class="form-group mb-3">
                                <input type="hidden" th:field="*{roomDTOs[0].id}">
                                <label class="form-label" for="singleRoomCount">Single Room Count:</label>
                                <input class="form-control" id="singleRoomCount" type="number"
                                       th:field="*{roomDTOs[0].roomCount}"
                                       placeholder="Enter count for single rooms">
                                <input type="hidden" th:field="*{roomDTOs[0].roomType}">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[0].roomCount')}"
                                   th:errors="*{roomDTOs[0].roomCount}"></p>
                                <label class="form-label" for="singleRoomPrice">Single Room Price:</label>
                                <input class="form-control" id="singleRoomPrice" type="number" step="0.01"
                                       th:field="*{roomDTOs[0].pricePerNight}"
                                       placeholder="Enter price for single rooms">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[0].pricePerNight')}"
                                   th:errors="*{roomDTOs[0].pricePerNight}"></p>
                            </div>
                            <!-- Double Room Details -->
                            <div class="form-group mb-3">
                                <input type="hidden" th:field="*{roomDTOs[1].id}">
                                <label class="form-label" for="doubleRoomCount">Double Room Count:</label>
                                <input class="form-control" id="doubleRoomCount" type="number"
                                       th:field="*{roomDTOs[1].roomCount}"
                                       placeholder="Enter count for double rooms">
                                <input type="hidden" th:field="*{roomDTOs[1].roomType}">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[1].roomCount')}"
                                   th:errors="*{roomDTOs[1].roomCount}"></p>
                                <label class="form-label" for="doubleRoomPrice">Double Room Price:</label>
                                <input class="form-control" id="doubleRoomPrice" type="number" step="0.01"
                                       th:field="*{roomDTOs[1].pricePerNight}"
                                       placeholder="Enter price for double rooms">
                                <p class="text-danger" th:if="${#fields.hasErrors('roomDTOs[1].pricePerNight')}"
                                   th:errors="*{roomDTOs[1].pricePerNight}"></p>
                            </div>
                            <!-- -->
                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary">Update Hotel</button>
                                <a th:href="@{/admin/hotels}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</th:block>
</body>
</html>
