<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Edit User</title>
    <script type="text/javascript">
        function previewImage(event) {
            var reader = new FileReader();
            var imgElement = document.getElementById('img-preview');
            
            reader.onload = function() {
                if (reader.readyState === 2) {
                    imgElement.src = reader.result; // Set the src to the file's result
                }
            }
            reader.readAsDataURL(event.target.files[0]); // Read the file input as DataURL
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">User Editing</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/admin/users/edit/{id}(id=${user.id})}" th:object="${user}" enctype="multipart/form-data">
                            <div class="row mb-3">
								<div class="col-md-5">
                                    <div class="form-group mb-3">
                                        <label for="img-input" class="img-upload-container" style="height: 310px; width:295px;">
                                            <img id="img-preview" th:src="${user.img}" alt="User Image" class="img-fluid w-100 rounded-3" style="height: 100%; width: 100%; object-fit: cover;">
                                        </label>
                                        <input class="form-control mt-2" name="multipartFile" id="img-input" type="file" accept="image/*" onchange="previewImage(event)" style="display: none;">
                                        <p class="text-danger" th:if="${#fields.hasErrors('img')}" th:errors="*{img}"></p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                		<input type="hidden" th:field="*{id}" />
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="username">Username:</label>
                                        <input class="form-control" id="username" type="text" th:field="*{username}"
                                               placeholder="Enter username">
                                        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="name">First Name:</label>
                                        <input class="form-control" id="name" type="text" th:field="*{name}"
                                               placeholder="Enter first name">
                                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="lastName">Last Name:</label>
                                        <input class="form-control" id="lastName" type="text" th:field="*{lastName}"
                                               placeholder="Enter last name">
                                        <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="email">Email:</label>
                                        <input class="form-control" id="email" type="email" th:field="*{email}"
                                               placeholder="Enter email address">
                                        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                    </div>
									<!-- Thêm trường phone -->
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="phone">Phone:</label>
                                        <input class="form-control" id="phone" type="text" th:field="*{phone}"
                                               placeholder="Enter phone number">
                                        <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                                    </div>
									<div class="form-group mb-3">
                                        <label class="form-label" for="birthday">Birthday:</label>
                                        <input class="form-control" id="birthday" type="date" th:field="*{birthday}" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                               placeholder="Select your birthday">
                                        <p class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
                                    </div>
                                    <!-- Thay thế phần role selection hiện tại bằng đoạn code sau -->
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="roleType">Role:</label>
                                        <select class="form-control" id="roleType" th:field="*{roleType}" 
                                                th:if="${user.role.roleType.name() != 'ADMIN'}">
                                            <option th:each="roleType : ${T(com.datn.tourhotel.model.enums.RoleType).values()}"
                                                    th:if="${roleType.name() != 'ADMIN'}"
                                                    th:value="${roleType}"
                                                    th:text="${roleType.name()}">
                                            </option>
                                        </select>
                                        <!-- Hiển thị text readonly nếu user là admin -->
                                        <input th:if="${user.role.roleType.name() == 'ADMIN'}" 
                                               type="text" class="form-control" 
                                               value="ADMIN" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3 text-end">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a th:href="@{/admin/users}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
