<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/layout-main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Edit Account</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Preview Image Script -->
    <script type="text/javascript">
        function previewImage(event) {
            var reader = new FileReader();
            var imgElement = document.getElementById('img-preview');
            
            reader.onload = function() {
                if (reader.readyState === 2) {
                    imgElement.src = reader.result; // Set the src to the file's result
                }
            }
            reader.readAsDataURL(event.target.files[0]); // Read the file input as DataURL
        }
    </script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky justify-content-center">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link ms-5" aria-current="page" th:href="@{/manager/dashboard(language=${#locale.language})}">
                        <i class="bi bi-house-door-fill"></i>
                        <span class="ml-2 h5" th:text="#{dashboardTitle}">Dashboard</span>
                    </a>
                </li>
                <hr>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/users(language=${#locale.language})}">
                        <i class="bi bi-people-fill"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavUsers}">Users</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/hotels/add(language=${#locale.getLanguage()})}">
                        <i class="bi bi-building"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavAddHotels}">Add hotels</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/hotels(language=${#locale.getLanguage()})}">
                        <i class="bi bi-building"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavHotels}">Hotels</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/posts/add(language=${#locale.getLanguage()})}">
                        <i class="bi bi-file-earmark-text"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavAddPosts}">Add posts</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/posts(language=${#locale.language})}">
                        <i class="bi bi-file-earmark-text"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavPosts}">Posts</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/bookings(language=${#locale.getLanguage()})}">
                        <i class="bi bi-calendar-check"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavBookings}">Bookings</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/report(language=${#locale.language})}">
                        <i class="bi bi-bar-chart-line"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavReports}">Reports</span>
                    </a>
                </li>
                <li class="nav-item ms-5">
                    <a class="nav-link" th:href="@{/manager/comments(language=${#locale.language})}">
                        <i class="bi bi-star-fill"></i>
                        <span class="ml-2 h5" th:text="#{dashboardNavEvaluates}">Evaluates</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4 mt-4 mb-5">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">User Account Editing</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" th:action="@{/manager/account/edit}" th:object="${user}" enctype="multipart/form-data">
                            <div class="row mb-3">
								<div class="col-md-5">
                                    <div class="form-group mb-3">
                                        <label for="img-input" class="img-upload-container ms-5" style="height: 310px; width:295px; display: block; border: 2px solid #ccc; border-radius: 10px; overflow: hidden;">
                                            <img id="img-preview" th:src="${user.img}" alt="User Image" class="img-fluid w-100 rounded-3" style="height: 100%; width: 100%; object-fit: cover;">
                                        </label>
                                        <input class="form-control mt-2" name="multipartFile" id="img-input" type="file" accept="image/*" onchange="previewImage(event)" style="display: none;">
                                        <p class="text-danger" th:if="${#fields.hasErrors('img')}" th:errors="*{img}"></p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                		<input type="hidden" th:field="*{id}" />
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="username">Username:</label>
                                        <input class="form-control" id="username" type="text" th:field="*{username}"
                                               placeholder="Enter username">
                                        <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="name">First Name:</label>
                                        <input class="form-control" id="name" type="text" th:field="*{name}"
                                               placeholder="Enter first name">
                                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="lastName">Last Name:</label>
                                        <input class="form-control" id="lastName" type="text" th:field="*{lastName}"
                                               placeholder="Enter last name">
                                        <p class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="email">Email:</label>
                                        <input class="form-control" id="email" type="email" th:field="*{email}"
                                               placeholder="Enter email address">
                                        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                    </div>
									<!-- Thêm trường phone -->
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="phone">Phone:</label>
                                        <input class="form-control" id="phone" type="text" th:field="*{phone}"
                                               placeholder="Enter phone number">
                                        <p class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                                    </div>
									<div class="form-group mb-3">
                                        <label class="form-label" for="birthday">Birthday:</label>
                                        <input class="form-control" id="birthday" type="date" th:field="*{birthday}" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                               placeholder="Select your birthday">
                                        <p class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-3 text-end">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <a th:href="@{/manager/account}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </main>
        </div>
    </div>
</th:block>
</body>
</html>
