<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Booking Confirmation</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container" style="min-height: 60vh;">
        <div class="row">
            <div class="col-md-12">
		            <div class="w-50 m-auto">
		            <!-- Thêm lớp "my-4" để tạo ra khoảng cách trên và dưới tiêu đề trang -->
		            <h1 class="my-3 text-success text-center">Payment Successfully</h1>
		            <!-- Sử dụng lớp "alert" và "alert-danger" để tạo ra thông báo lỗi -->
		            <h2 class="my-2">Booking Information</h2>
		            <!-- Sử dụng lớp "table" và "table-bordered" để tạo ra bảng hiển thị thông tin chi tiết đơn hàng -->
		            <table class="table table-bordered">
		                <tbody>
		                <tr>
		                    <td>Booking Information:</td>
		                    <td><span th:text="${orderId}">[order ID]</span></td>
		                </tr>
		                <tr>
		                    <td>Total Price:</td>
		                    <td><span th:text="${totalPrice}">[total price]</span></td>
		                </tr>
		                <tr>
		                    <td>Payment Time:</td>
		                    <td><span th:text="${paymentTime}">[payment time]</span></td>
		                </tr>
		                <tr>
		                    <td>Transaction Code:</td>
		                    <td><span th:text="${transactionId}">[transaction ID]</span></td>
		                </tr>
		                </tbody>
		            </table>
		            <a th:href="@{/index#home(language=${#locale.language})}" class="btn btn-outline-primary">Go Home</a>
		            
		            <button class="btn btn-primary" onclick="toggleBookingDetails()">Detail Booking</button>
		        </div>

                <div class="card mt-5" id="booking-details" style="display:none;">
                    <div class="card-header">
                        <h2>Booking Confirmation</h2>
                    </div>
                    <div class="card-body">
                        <h5>Confirmation Number:</h5>
                        <span class="mb-3" th:text="${bookingDTO.confirmationNumber}"></span>
                        <hr>
                        <h3 class="mb-2" th:text="${bookingDTO.hotelName}">Hotel</h3>
                        <span class="mb-4" th:text="${bookingDTO.hotelAddress.addressLine + ', ' + bookingDTO.hotelAddress.city + ', ' + bookingDTO.hotelAddress.country}"></span>
                        <div class="row text-center my-5">
                             <div class="col-md-4">
                                <h5>Booking type</h5>
                                <span th:text="${bookingDTO.bookingType}"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Check-in date</h5>
                                <span th:text="${bookingDTO.checkinDate}"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Check-out date</h5>
                                <span th:text="${bookingDTO.checkoutDate}"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Duration</h5>
                                <span th:text="${days} + ' day(s)'"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Check-in hour</h5>
                                <span th:text="${bookingDTO.startTime}"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Check-out hour</h5>
                                <span th:text="${bookingDTO.endTime}"></span>
                            </div>
                        </div>
                        <h5>Rooms:</h5>
                        <ul class="mb-3">
                            <li th:each="room : ${bookingDTO.roomSelections}">
                                <span th:text="${room.count}"></span> x <span th:text="${room.roomType}"></span>
                            </li>
                        </ul>
                        <hr>
                        <h4>Total Price:</h4>
                        <h5 class="mb-3 ms-5" th:text="${#numbers.formatDecimal(bookingDTO.totalPrice, 1, 'COMMA', 2, 'POINT')} + ' VND'"></h5>
                        <h4 class="mt-3">Payment Method:</h4>
                        <h5 class="mb-3 ms-5" th:text="${bookingDTO.paymentMethod}"></h5>
                        <hr>
                        <h5>Guest Details:</h5>
                        <span class="mb-2 ms-5">Name: <span th:text="${bookingDTO.customerName}"></span></span><br>
                        <span class="mb-3 ms-5">Phone: <span th:text="${bookingDTO.customerPhone}"></span></span><br>
                        <span class="mb-3 ms-5">Email: <span th:text="${bookingDTO.customerEmail}"></span></span>
                    </div>
                </div>
            </div>     
        </div>
    </div>
</th:block>
</body>
</html>