<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Tour Hotel</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="100">
<th:block layout:fragment="content">
    <!-- Banner Section -->
    <section id="home" class="banner_wrapper p-0">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(/img/slider/slider2.webp);">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>Welcome to Tour Hotel</h1>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni aliquam vero</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(/img/slider/slider1.webp);">
                    <div class="slide-caption text-center">
                        <div>
                            <h1>Welcome to hotel in Ho Chi Minh City</h1>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum magni aliquam vero</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="container booking-area">
		    <form class="row align-items-end" method="post" th:action="@{/index}" th:object="${hotelSearchDTO}">
		        <div class="col-lg-3 mb-3 mb-lg-0">
		            <label class="form-label" for="city">City:</label>
		            <input class="form-control" id="city" type="text" th:field="*{city}" placeholder="Enter city">
		            <p class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
		        </div>
		        <div class="col-lg-3 mb-3 mb-lg-0">
		            <label class="form-label" for="checkinDate">Check-in Date:</label>
		            <input type="date" class="form-control" id="checkinDate" th:field="*{checkinDate}" placeholder="Check-in Date">
		            <p class="text-danger" th:if="${#fields.hasErrors('checkinDate')}" th:errors="*{checkinDate}"></p>
		        </div>
		        <div class="col-lg-3 mb-3 mb-lg-0">
		            <label class="form-label" for="checkoutDate">Check-out Date:</label>
		            <input type="date" name="checkoutDate" class="form-control" id="checkoutDate" th:field="*{checkoutDate}" placeholder="Check-out Date">
		            <p class="text-danger" th:if="${#fields.hasErrors('checkoutDate')}" th:errors="*{checkoutDate}"></p>
		        </div>
		        <div class="col-lg-3 d-flex justify-content-lg-end">
		            <button type="submit" class="main-btn rounded-3 px-lg-4">Search</button>
		        </div>
		    </form>
		</div>

    </section>
    <!-- Banner Section End -->
    
    <!-- About Section -->
            <section id="about" class="about_wrapper">
                <div class="container">
                    <div class="row flex-lg-row flex-column-reverse">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h3>Welcome to <span>Hotel <br class="d-none d-lg-block"> the haven</span> of your weekend
                            </h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint eligendi quia, totam vero
                                repellendus saepe quo in adipisci doloremque aspernatur.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, alias!</p>
                            <a class="main-btn mt-4" href="#">Explore</a>
                        </div>
                        <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-4 text-center">
                            <img src="/img/about-img.svg" class="img-fluid" alt="about">
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Section End -->

            <!-- Rooms Section -->
            <section id="rooms" class="rooms_wrapper">
                <div class="container-fluid col-11">
                    <div class="row">
                        <div class="col-sm-12 section-title text-center mb-5">
                            <h6>What I can do for you</h6>
                            <h3>Our Favourite Rooms</h3>
                        </div>
                    </div>
                    
                    <div class="row m-0">
                        <div class="col-md-4 mb-4 mb-lg-0" th:each="hotel : ${hotels}">
                            <div class="room-items mb-5" style="height: 610px; width: 100%">
		                        <img th:src="@{/img/hotel/{img}(img=${hotel.img})}" class="img-fluid" style="height: 100%; width: 100%">
                                <div class="room-item-wrap">
                                    <div class="room-content">
                                    	<a class="book-now-link" th:href="@{/hotel-details/{id}(id=${hotel.id})}">
                                    		<h3 class="text-white mb-lg-5 text-decoration-none">Royal Suit</h3>
                                    	</a>
                                    		<a class="book-now-link" th:href="@{/hotel-details/{id}(id=${hotel.id})}">
				                        		<h5 class="text-white mb-lg-5 text-decoration-none" th:text="${hotel.name}">Hotel Name</h5>
				                        	</a>
                                        <p class="text-white">Discover five of our favourite dresses from our new
                                            collection that are
                                            destined to be worn and loved immediately</p>
                                        <p class="text-white fw-bold mt-lg-4">$220/ Per Night</p>
                                        <a class="main-btn border-white text-white mt-lg-5 book-now-link" th:href="@{/hotel-details/{id}(id=${hotel.id})}">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
   
                </div>
            </section>
            <!-- Rooms Section End -->

            <!-- Services Section -->
            <section id="services" class="services_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 section-title text-center mb-5">
                            <h6>We Are Here for Your</h6>
                            <h3>Our Awesome Services</h3>
                        </div>
                    </div>
                    <!-- Tab Content -->
                    <div class="row align-items-center service-items-wrap">
                        <div class="col-lg-7 p-lg-0">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane show active" id="spa" role="tabpanel">
                                    <img src="/img/services/service1.webp" alt="services">
                                </div>
                                <div class="tab-pane show" id="restaurent" role="tabpanel">
                                    <img src="/img/services/service2.webp" alt="services">
                                </div>
                                <div class="tab-pane show" id="swimming" role="tabpanel">
                                    <img src="/img/services/service3.webp" alt="services">
                                </div>
                                <div class="tab-pane show" id="conference" role="tabpanel">
                                    <img src="/img/services/service6.webp" alt="services">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 position-relative">
                            <div class="service-menu-area">
                                <ul class="nav">
                                    <li>
                                        <a data-bs-toggle="tab" class="active" href="#spa">
                                            <span class="service-icon">
                                                <img src="/img/services/service-icon1.webp" alt="..."></span>
                                            <h5>Spa, beauty & Health</h5>
                                            <p><span>Spa and beauty </span> Lorem ipsum dolor sit amet consectetur,
                                                adipisicing elit.</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#restaurent">
                                            <span class="service-icon">
                                                <img src="/img/services/service-icon2.webp" alt="..."></span>
                                            <h5>Restaurent</h5>
                                            <p><span>Restaurent </span> Lorem ipsum dolor sit amet consectetur,
                                                adipisicing elit. Iure, itaque!</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#swimming">
                                            <span class="service-icon">
                                                <img src="/img/services/service-icon3.webp" alt="..."></span>
                                            <h5>Swimming Pool</h5>
                                            <p><span>Swimming </span> Lorem ipsum dolor sit amet consectetur,
                                                adipisicing elit. Iure, itaque!</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a data-bs-toggle="tab" href="#conference">
                                            <span class="service-icon">
                                                <img src="/img/services/service-icon4.webp" alt="..."></span>
                                            <h5>Conference Hall</h5>
                                            <p><span>Conference </span> Lorem ipsum dolor sit amet consectetur,
                                                adipisicing elit. Iure, itaque!</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Services Section End -->

            <!-- Team Section -->
            <section id="team" class="team_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 section-title text-center mb-5">
                            <h6>What I can do for you</h6>
                            <h3>Our Special Staff</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card p-0 rounded-3">
                                <img src="/img/team/team1.webp" alt="" class="img-fluid rounded-3">
                                <div class="team-info">
                                    <h5>Shirley Gibson</h5>
                                    <p>Manager</p>
                                    <ul class="social-network">
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card p-0 rounded-3">
                                <img src="/img/team/team2.webp" alt="" class="img-fluid rounded-3">
                                <div class="team-info">
                                    <h5>Ronald Long</h5>
                                    <p>Chif Reciption Officier</p>
                                    <ul class="social-network">
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card p-0 rounded-3">
                                <img src="/img/team/team3.webp" alt="" class="img-fluid rounded-3">
                                <div class="team-info">
                                    <h5>Ashley Sanchez</h5>
                                    <p>Master Chef</p>
                                    <ul class="social-network">
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-4">
                            <div class="card p-0 rounded-3">
                                <img src="/img/team/team4.webp" alt="" class="img-fluid rounded-3">
                                <div class="team-info">
                                    <h5>Jessica Watson</h5>
                                    <p>Housekeeping</p>
                                    <ul class="social-network">
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-vimeo-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Team Section End -->

            <!-- Gallery Section -->
            <section id="gallery" class="gallery_wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 section-title text-center mb-5">
                            <h6>Best Pictures of Our Hotel</h6>
                            <h3>Our Gallery</h3>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-3 col-md-6 gallery-item">
                            <img src="/img/gallery/1.webp" alt="..." class="img-fluid w-100">
                            <div class="gallery-item-content">

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 gallery-item">
                            <img src="/img/gallery/2.webp" alt="..." class="img-fluid w-100">
                            <div class="gallery-item-content">

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 gallery-item">
                            <img src="/img/gallery/3.webp" alt="..." class="img-fluid w-100">
                            <div class="gallery-item-content">

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 gallery-item">
                            <img src="/img/gallery/4.webp" alt="..." class="img-fluid w-100">
                            <div class="gallery-item-content">

                            </div>
                        </div>
                        <div class="col-md-6 gallery-item">
                            <img src="/img/gallery/5.webp" alt="..." class="img-fluid w-100">
                            <div class="gallery-item-content">

                            </div>
                        </div>
                        <div class="col-md-6 gallery-item">
                            <img src="/img/gallery/6.webp" alt="..." class="img-fluid w-100">
                            <div class="gallery-item-content">

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Gallery Section End -->
    
		    <!-- Our Hotel Section -->
		    <section id="hotel" class="price_wrapper">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-12 section-title text-center mb-5">
		                    <h6>Best & Affordable Hotels for you</h6>
		                    <h3>Our Hotels</h3>
		                </div>
		            </div>
		            <div class="row">
		                <!-- Iterate over hotels -->
		                <div class="col-lg-3 col-md-6 mb-4" th:each="hotel : ${hotels}">
		                    <div class="card p-4 text-center rounded-3 shadow-sm" style="height: 100%; width:100%;">
		                    	<a th:href="@{/hotel-details/{id}(id=${hotel.id})}" class="text-decoration-none book-now-link">
		                        	<h5 class="text-decoration-none mb-4" th:text="${hotel.name}">Hotel Name</h5>
		                        </a>
		                        <a th:href="@{/hotel-details/{id}(id=${hotel.id})}" class="book-now-link">
		                        <img th:src="@{/img/hotel/{img}(img=${hotel.img})}" class="img-fluid w-100 mb-3 rounded-3" style="height: 250px; width:100%; object-fit: cover;">
		                        </a>
		                        <hr>
		                        <ul class="list-unstyled" style="min-height: 75px;">
		                            <th:block th:each="room : ${hotel.roomDTOs}">
		                                <li th:if="${room.roomType.name() == 'SINGLE'}">
		                                    Single: $<strong th:text="${room.pricePerNight}">0</strong>/Night
		                                </li>
		                                <li th:if="${room.roomType.name() == 'DOUBLE'}">
		                                    Double: $<strong th:text="${room.pricePerNight}">0</strong>/Night
		                                </li>
		                                <li th:if="${room.roomType.name() == 'SUITE'}">
		                                    Suite: $<strong th:text="${room.pricePerNight}">0</strong>/Night
		                                </li>
		                            </th:block>
		                        </ul>
		                        <hr>
		                        <!-- Add class 'book-now-link' to make it easy to update href in JS -->
		                        <a th:href="@{/hotel-details/{id}(id=${hotel.id})}" class="main-btn book-now-link">Book now</a>
		                    </div>
		                </div>
		                <!-- End of hotel card -->
		            </div>
		        </div>
		    </section>
		    <!-- Pricing Section End -->
		    
		    <!-- Blog Section -->
            <section id="blog" class="blog_wrapper pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 section-title text-center mb-5">
                            <h6>Say Hello to Our Visiters</h6>
                            <h3>Our Blog</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card p-0 border-0 rounded-0">
                                <img src="/img/blog/blog1.webp" alt="">
                                <div class="blog-content bg-white p-4">
                                    <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
                                    <h6>By Admin - February 18, 2022</h6>
                                    <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque,
                                        cumque nostrum! A magni tenetur perferendis.</p>
                                    <a href="#" class="main-btn mt-2">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card p-0 border-0 rounded-0">
                                <img src="/img/blog/blog2.webp" alt="">
                                <div class="blog-content bg-white p-4">
                                    <h5 class="text-decoration-underline mb-4">Relax Zone</h5>
                                    <h6>By Admin - February 18, 2022</h6>
                                    <p class="mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque,
                                        cumque nostrum! A magni tenetur perferendis.</p>
                                    <a href="#" class="main-btn mt-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-partner-slider mt-5">
                    <div class="container swiper our-partner">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="/img/partners/brand1.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/partners/brand2.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/partners/brand3.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/partners/brand4.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/partners/brand5.webp" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/img/partners/brand6.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Blog Section End -->
            
            <section id="faq" class="blog_wrapper pb-0">
                <div class="container mt-5 mb-5">
                  <div class="row gy-5 gy-lg-0 align-items-lg-center">
                    <div class="col-12 col-lg-6">
                      <img class="img-fluid rounded" loading="lazy" src="./img/19333426.jpg" alt="How can we help you?">
                    </div>
                    <div class="col-12 col-lg-6">
                      <div class="row justify-content-xl-end">
                        <div class="col-12 col-xl-11">
                          <h2 class="h1 mb-3">How can we help you?</h2>
                          <p class="lead fs-4 text-secondary mb-5">We hope you have found an answer to your question. If you need any help, please search your query on our Support Center or contact us via email.</p>
                          <div class="accordion accordion-flush" id="accordionExample">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  How Do I Change My Billing Information?
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <p>To change your billing information, please follow these steps:</p>
                                  <ul>
                                    <li>Go to our website and sign in to your account.</li>
                                    <li>Click on your profile picture in the top right corner of the page and select "Account Settings."</li>
                                    <li>Under the "Billing Information" section, click on "Edit."</li>
                                    <li>Make your changes and click on "Save."</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  How Does Payment System Work?
                                </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  A payment system is a way to transfer money from one person or organization to another. It is a complex process that involves many different parties, including banks, credit card companies, and merchants.
                                </div>
                              </div>
                            </div>
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  How Do I Cancel My Account?
                                </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <p>To cancel your account, please follow these steps:</p>
                                  <ul>
                                    <li>Go to our website and sign in to your account.</li>
                                    <li>Click on your profile picture in the top right corner of the page and select "Account Settings."</li>
                                    <li>Scroll to the bottom of the page and click on "Cancel Account."</li>
                                    <li>Enter your password and click on "Cancel Account."</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
			<df-messenger intent="WELCOME" chat-title="Receptionist" agent-id="30c9217b-1063-4948-8301-0bad0df19cc2" language-code="en"></df-messenger>
</th:block>
</body>
<th:block layout:fragment="additional-scripts">
    <script>
        $(document).ready(function () {
            const displayFormat = "dd.mm.yy";
            const submitFormat = "yy-mm-dd"; // Format that Spring Boot expects for LocalDate

            // Block invalid characters for city input
            $("#city").on("input", function () {
                var value = $(this).val();
                var filteredValue = value.replace(/[^A-Za-z\s'-]/g, "");
                $(this).val(filteredValue);
            });

            // Initialize checkinDate
            $("#checkinDate").datepicker({
                dateFormat: displayFormat,
                minDate: 0,
                onClose: function (selectedDate) {
                    if (selectedDate) {
                        var checkoutMinDate = $.datepicker.parseDate(displayFormat, selectedDate);
                        checkoutMinDate.setDate(checkoutMinDate.getDate() + 1); // Minimum 1 day after check-in
                        $("#checkoutDate").datepicker("option", "minDate", checkoutMinDate);
                    }
                }
            }).attr('readonly', 'readonly');

            // Initialize checkoutDate
            $("#checkoutDate").datepicker({
                dateFormat: displayFormat,
                minDate: +1
            }).attr('readonly', 'readonly');

            // Reformat dates on form submit
            $("form").on("submit", function () {
                var checkinDate = $('#checkinDate').datepicker('getDate');
                var checkoutDate = $('#checkoutDate').datepicker('getDate');
                $('#checkinDate').val($.datepicker.formatDate(submitFormat, checkinDate));
                $('#checkoutDate').val($.datepicker.formatDate(submitFormat, checkoutDate));
            });

            // Placeholder
            $("#checkinDate, #checkoutDate").each(function () {
                $(this).attr("placeholder", "Select date");
            });
        });

        function getFormattedDate(date) {
            const day = String(date.getDate()).padStart(2, '0');
            const month = String(date.getMonth() + 1).padStart(2, '0');
            const year = date.getFullYear();
            return `${year}-${month}-${day}`;
        }

        function setBookingDates() {
            const today = new Date();
            const checkinDate = getFormattedDate(today);
            const checkoutDate = getFormattedDate(new Date(today.setDate(today.getDate() + 1))); // Set checkout date to the next day

            const bookingLinks = document.querySelectorAll('.book-now-link');
            bookingLinks.forEach(link => {
                link.href = link.href.split('?')[0] + `?checkinDate=${checkinDate}&checkoutDate=${checkoutDate}`;
            });
        }

        document.addEventListener('DOMContentLoaded', setBookingDates);
    </script>
</th:block>
</html>
