<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout-main}">
<head>
    <title>Booking Details</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Booking Details</h2>
                    </div>
                    <div class="card-body">
                        <h5>Confirmation Number:</h5>
                        <span class="mb-3" th:text="${bookingDTO.confirmationNumber}"></span>
                        <hr>
                        <h3 class="mb-2" th:text="${bookingDTO.hotelName}">Hotel</h3>
                        <span class="mb-4" th:text="${bookingDTO.hotelAddress.addressLine + ', ' + bookingDTO.hotelAddress.city + ', ' + bookingDTO.hotelAddress.country}"></span>
                        <div class="row text-center my-5">
                            <div class="col-md-4">
                                <h5>Check-in</h5>
                                <span th:text="${bookingDTO.checkinDate}"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Check-out</h5>
                                <span th:text="${bookingDTO.checkoutDate}"></span>
                            </div>
                            <div class="col-md-4">
                                <h5>Duration</h5>
                                <span th:text="${days} + ' night(s)'"></span>
                            </div>
                        </div>
                        <h5>Rooms:</h5>
                        <ul class="mb-3">
                            <li th:each="room : ${bookingDTO.roomSelections}">
                                <span th:text="${room.count}"></span> x <span th:text="${room.roomType}"></span>
                            </li>
                        </ul>
                        <hr>
                        <h4>Total Price:</h4>
                        <h5 class="mb-3 ms-5" th:text="${#numbers.formatDecimal(bookingDTO.totalPrice, 1, 'COMMA', 2, 'POINT')} + ' VND'"></h5>
                        <h4 class="mt-3">Payment Method:</h4>
                        <h5 class="mb-3 ms-5" th:text="${bookingDTO.paymentMethod}"></h5>
                        <hr>
                        <h5>Guest Details:</h5>
                        <span class="mb-2 ms-5">Name: <span th:text="${bookingDTO.customerName}"></span></span><br>
                        <span class="mb-3 ms-5">Email: <span th:text="${bookingDTO.customerEmail}"></span></span>
                    </div>
                </div>
                <div class="mt-3">
                    <a href="/customer/bookings" class="btn btn-primary">Back to Bookings</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
